<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Best Cars Dealership</a>
            </div>
            <li class="nav-item">
                <a class="nav-link" href="/djangoapp">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/djangoapp/about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/djangoapp/contact">Contact Us</a>
            </li>
          </ul>
    </div>
</nav>