<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Best Cars Dealership</a>
            </div>
            <li class="nav-item">
                <a class="nav-link" href="/djangoapp">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/djangoapp/about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/djangoapp/contact">Contact Us</a>
            </li>
        </ul>
            {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
            {% else %}
        <li>
            <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Username" name="username" >
                    <input type="password" class="form-control" placeholder="Password" name="psw" >
                    <button class="btn btn-primary" type="submit">Login</button>
                    <a class="btn btn-link" href="{% url 'djangoapp:signup' %}">Sign Up</a>
                </div>
            </form>
        </li>
        {% endif %}
    </div>
</nav>